{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-lg-7 d-none d-md-block">
            <img src="{% static 'images/password.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 card shadow">
            {% include '../includes/messages.html' %}

            <h1 class="card-header text-primary">{% trans "Change Password" %}</h1>
            <div class="card-body">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                    <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
