{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 card mt-5">
            {% include '../includes/messages.html' %}
            <h1 class="card-header">{% trans "Sign Up Closed" %}</h1>
            <p class="card-body">{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock %}
